
<h1 class="text-center mt-3">FEATURES</h1>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="bg"
                style="background-image: url('https://cdn.pixabay.com/photo/2024/02/28/07/42/european-shorthair-8601492_640.jpg'); 
                    background-size: cover; 
                    background-position: center; 
                    height: 100vh;">
                    
                <div class="d-flex flex-column justify-content-center align-items-center h-100 text-center text-white">
                    <table class="table table-bordered bg-light text-dark">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">SL NO</th>
                                <th scope="col">Features</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Breed</td>
                                <td>Some cat breeds available for sale include Siberian, Bengal, and Persian</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Age</td>
                                <td>The age of a cat for sale may be listed in weeks and days</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Health</td>
                                <td>Cats for sale may be fully vaccinated and dewormed. Cats may also be litter trained.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- Closing bg div -->
        </div>
    </div>
</div>


