
    <div class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="features.html">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container text-center">
        <h1 >CATS</h1>
        <div class="row align-items-center">
          <div class="col">
            
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://cdn.britannica.com/34/235834-050-C5843610/two-different-breeds-of-cats-side-by-side-outdoors-in-the-garden.jpg" class="center" alt="..." width="750" height="750">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_640.jpg"  class="center" alt="..." width="750" height="750">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2022/01/13/10/39/animal-6934928_1280.jpg" class="center" alt="..." width="750" height="750">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>


            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3V0ZSUyMGNhdHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CAT 1</h5>
                  <p class="card-text">Cats are very beautiful and friendly animals. They are very good at hunting rats and snakes. Cats have two eyes, a tiny nose, two perky ears, four legs and a tail. Their bodies are covered with smooth fur.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2018/04/20/17/18/cat-3336579_640.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CAT 2</h5>
                  <p class="card-text">Domestic cats are usually white, black, yellow, or gray and sometimes have markings of a different colour. A pattern of dark stripes or swirls on a lighter background is called tabby. Males may reach lengths of 28 in. (71 cm), and females are usually about 20 in.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1615789591457-74a63395c990?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwY2F0fGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CAT 3</h5>
                  <p class="card-text">Domestic cats are characterized by retractable claws, powerful bodies, acute senses, long tails, and specialized teeth adapted for hunting prey.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>



    