<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <img src="https://yt3.googleusercontent.com/vu7LbjEJZrPWq5GQ4x3T8VqaFXDclhH7vC8Ffio3OPxDCf05dPXnzJpXJ8IBNoh-DjgZmKAh=s900-c-k-c0x00ffffff-no-rj" width="150" height="70">
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="about">About</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mca</a></li>
              <li><a class="dropdown-item" href="#">Bca</a></li>
              <li><a class="dropdown-item" href="#">Mba</a></li>
              <li><a class="dropdown-item" href="#">Bba</a></li>

              <li><hr class="dropdown-divider"></li>
              
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="contact">Contact Us</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
